<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bilan quotidien</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Section 1 -->
  <ion-item>
    <ion-label position="floating">Chiffre du jour (€)</ion-label>
    <ion-icon name="card-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="userInput1" (ionChange)="updateDisplay(1)" type="number" placeholder="Entrer une valeur"></ion-input>
  </ion-item>
  <!-- Example for Section 1 -->
  <ion-card class="result-card">
    <ion-card-content>
      <div class="card-layout">
        <div class="text-section">
          <p>Objectif : {{ predefinedValue1 }} €</p>
          <p class="result-text" [ngClass]="{'positive': isAbove1, 'negative': !isAbove1 && !isEqual1, 'gray-text': isEqual1}">
            Réalisé : <strong>{{ displayValue1 }}</strong>
          </p>
        </div>
        <div class="icon-section" [ngClass]="{'positive': isAbove1, 'negative': !isAbove1 && !isEqual1, 'gray-text': isEqual1}">
          <ion-icon [name]="iconName1" class="large-icon"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>



  <!-- Section 2 -->
  <ion-item>
    <ion-label position="floating">Panier Moyen (€)</ion-label>
    <ion-icon name="pricetags" slot="start"></ion-icon>
    <ion-input [(ngModel)]="userInput2" (ionChange)="updateDisplay(2)" type="number" placeholder="Entrer une valeur"></ion-input>
  </ion-item>

  <ion-card class="result-card">
    <ion-card-content>
      <div class="card-layout">
        <div class="text-section">
          <p>Objectif : {{ predefinedValue2 }} €</p>
          <p class="result-text" [ngClass]="{'positive': isAbove2, 'negative': !isAbove2 && !isEqual2, 'gray-text': isEqual2}">
            Réalisé : <strong>{{ displayValue2 }}</strong>
          </p>
        </div>
        <div class="icon-section" [ngClass]="{'positive': isAbove2, 'negative': !isAbove2 && !isEqual2, 'gray-text': isEqual2}">
          <ion-icon [name]="iconName2" class="large-icon"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Section 3 -->
  <ion-item>
    <ion-label position="floating">Panier Article (qte)</ion-label>
    <ion-icon name="cart" slot="start"></ion-icon>
    <ion-input [(ngModel)]="userInput3" (ionChange)="updateDisplay(3)" type="number" placeholder="Entrer une valeur"></ion-input>
  </ion-item>

  <ion-card class="result-card">
    <ion-card-content>
      <div class="card-layout">
        <div class="text-section">
          <p>Objectif : {{ predefinedValue3 }} </p>
          <p class="result-text" [ngClass]="{'positive': isAbove3, 'negative': !isAbove3 && !isEqual3, 'gray-text': isEqual3}">
            Réalisé : <strong>{{ displayValue3 }}</strong>
          </p>
        </div>
        <div class="icon-section" [ngClass]="{'positive': isAbove3, 'negative': !isAbove3 && !isEqual3, 'gray-text': isEqual3}">
          <ion-icon [name]="iconName3" class="large-icon"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
